body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #48c6ef, #6c63ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  padding-top: 100px;
  text-align: center;
  color: white;
}