/* SECTION */
.contact-section {
  background: #f5f7f9;
  padding: 80px 10%;
}

/* TITLE */
.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 36px;
  color: #1f2d3d;
}

.underline {
  width: 60px;
  height: 3px;
  background: #3b82f6;
  margin: 10px auto;
}

/* WRAPPER */
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 120px;   /* increased space */
  flex-wrap: wrap;
  margin-top: 40px;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
  min-width: 280px;
  padding-left: 20px;
}

.contact-left h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-text {
  color: #6b7280;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* CONTACT INFO */
.contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #4b5563;
  font-size: 15px;
}

.contact-info .icon {
  color: #3b82f6;
  margin-right: 15px;
  font-size: 18px;
}

/* SOCIAL ICONS */
.social-icons {
  margin-top: 30px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
  background: #e5e7eb;
  color: #1f2937;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #3b82f6;
  color: white;
}

/* RIGHT SIDE */
.contact-right {
  flex: 1;
  min-width: 300px;
  padding-right: 20px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

/* INPUTS */
.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background: #e5e7eb;
  font-size: 14px;
  outline: none;
}

.contact-right textarea {
  height: 150px;
  resize: none;
}

/* BUTTON */
.contact-right button {
  width: 150px;
  padding: 10px;
  border: 1px solid #3b82f6;
  background: transparent;
  color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-right button:hover {
  background: #3b82f6;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }
}