.contact-section {
  padding: 80px 0;
  background: #131413;
}

.contact-container {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
  padding: 0 20px;
}

/* LEFT SIDE */
.contact-left {
  flex: 1;
}

.contact-left h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-left p {
  color: #6b7280;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  color: #6b7280;
}

.contact-item .icon {
  color: #000000;
  font-size: 20px;
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #1f2937;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #3b82f6;
  color: white;
}

/* RIGHT SIDE */
.contact-right {
  flex: 1;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-right input,
.contact-right textarea {
  padding: 14px;
  border: none;
  background: #e7ebf4;
  border-radius: 5px;
  font-size: 14px;
}

.contact-right textarea {
  height: 150px;
  resize: none;
}

.contact-right button {
  width: 150px;
  padding: 12px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-right button:hover {
  background: #3b82f6;
  color: white;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
