.projects-section {
  background: #f5f7f6;
  padding: 80px 20px;
  text-align: auto;
}

.section-title h2 {
  font-size: 38px;
}

.underline {
  width: 60px;
  height: 4px;
  background: #4a76d1;
  margin: 10px auto 40px;
}

/* FILTER BUTTONS */

.project-filters {
  margin-bottom: 40px;
}

.project-filters button {
  margin: 5px;
  padding: 8px 18px;
  border: 1px solid #4a76d1;
  background: transparent;
  color: #4a76d1;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.project-filters button:hover {
  background: #4a76d1;
  color: #fff;
}

/* GRID */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

/* CARD */

.project-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* CONTENT */

.project-content {
  padding: 20px;
}

.project-content h4 {
  margin-bottom: 10px;
}

.project-content p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* TAGS */

.project-tags span {
  background: #e6edff;
  color: #4a76d1;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
  border-radius: 4px;
}
