body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btext {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  font-family:sans-serif;
}

.container {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 20px;
  height: auto;
  width: 400px;
  color: white;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  background: #00c6ff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0072ff;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 350px;
  overflow-y:auto;
  scrollbar-width:thin;
  scroll-behavior: smooth;
}

li {
  background: rgba(255,255,255,0.2);
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  background: rgba(0,255,150,0.3);
}

.actions button {
  margin-left: 5px;
  background: #ff4b5c;
}

.actions button.edit {
  background: #ffc107;
}

.error {
  color: yellow;
  text-align: center;
}