/* GLOBAL */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f7fb;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1b1b25;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #4a47ff;
}

.search-bar {
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

/* CART */

.cart {
  background: #3b3b4b;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.cart span {
  font-weight: bold;
}

/* BANNER */

.banner {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #525265, #00d2ff);
  color: white;
}

.banner h1 {
  margin: 0;
  font-size: 36px;
}

.banner p {
  margin-top: 10px;
}

/* PRODUCT GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
}

/* PRODUCT CARD */

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  position: relative;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.15);
}

.card img {
  height: 180px;
  width: 100%;
  object-fit: contain;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: #4a47ff;
  font-weight: bold;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #4745be;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #32323e;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 20px;
  background: #999999;
  color: white;
  margin-top: 40px;
}

/* RESPONSIVE */

@media(max-width:1024px){
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:600px){
  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }
}