@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to ASP.NET Core – Assesment 4</h1>

<p><strong>Application Name:</strong> @ViewBag.AppName</p>
<p><strong>Version:</strong> @ViewBag.Version</p>

<p><strong>Service Output:</strong> @ViewBag.ServiceMessage</p>
